<div class="card-body">
    <div class="patient-dtls">
        <div class="patient-profile-img">
            <img src="{{patientProfile?.profile_picture}}" width="200px"/>
        </div>
        <h4>{{patientProfile.name}}</h4>
    </div>
    <div class="patient-dtls-listing">
        <div class="patient-dtls-item">
            <div class="patient-dtls-icon">
                <img src="../assets/images/BirthIcon.svg" >
            </div>
            <div class="patient-dtls-info">
                <span class="label">Date Of Birth</span>
                <strong class="label-param">August 23, 1996</strong>
            </div>
        </div>
        <div class="patient-dtls-item">
            <div class="patient-dtls-icon">
                <img src="../assets/images/FemaleIcon.svg" >
            </div>
            <div class="patient-dtls-info">
                <span class="label">Gender</span>
                <strong class="label-param">Female</strong>
            </div>
        </div>
        <div class="patient-dtls-item">
            <div class="patient-dtls-icon">
                <img src="../assets/images/PhoneIcon.svg" >
            </div>
            <div class="patient-dtls-info">
                <span class="label">Contact Info.</span>
                <strong class="label-param">(415) 555-1234</strong>
            </div>
        </div>
        <div class="patient-dtls-item">
            <div class="patient-dtls-icon">
                <img src="../assets/images/PhoneIcon.svg" >
            </div>
            <div class="patient-dtls-info">
                <span class="label">Emergency Contacts</span>
                <strong class="label-param">(415) 555-1234</strong>
            </div>
        </div>
        <div class="patient-dtls-item">
            <div class="patient-dtls-icon">
                <img src="../assets/images/InsuranceIcon.svg" >
            </div>
            <div class="patient-dtls-info">
                <span class="label">Insurance Provider</span>
                <strong class="label-param">Sunrise Health Assurance</strong>
            </div>
        </div>
    </div>
    <div class="patient-dtls-action">
        <button class="button">Show All Information</button>
    </div>
</div>