<div class="app-container">
    <div class="app-header">
        <div class="app-nav-bar">
            <div class="app-header-left">
                <div class="app-logo">
                    <img src="../assets/images/TestLogo.svg" />
                </div>
            </div>
            <div class="app-header-center">
                <nav class="menu-list">
                    <a class="menu-item" href="#"><span class="menu-icon"><img src="../assets/images/home.svg" /></span><span>Overview</span></a>
                    <a class="menu-item active" href="#"><span class="menu-icon"><img src="../assets/images/people-group.svg" /></span><span>Patients</span></a>
                    <a class="menu-item" href="#"><span class="menu-icon"><img src="../assets/images/calendar.svg" /></span><span>Schedule</span></a>
                    <a class="menu-item" href="#"><span class="menu-icon"><img src="../assets/images/chat.svg" /></span><span>Message</span></a>
                    <a class="menu-item" href="#"><span class="menu-icon"><img src="../assets/images/credit-card.svg" /></span><span>Transactions</span></a>
                </nav>
            </div>
            <div class="app-header-right">
                <div class="action-btn">
                    <div class="profile-block">
                        <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                        <div class="profile-info">
                            <strong class="profile-name">Dr. Jose Simmons</strong>
                            <span class="profile-designation">General Practitioner</span>
                        </div>
                    </div>
                    <div class="setting-block">
                        <span class="icon"><img src="../assets/images/settings.svg" /></span>
                        <span class="more-icon"><img src="../assets/images/more-menu.svg" /></span>
                    </div>
                </div>
            </div>
            <button class="messages-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-message-circle">
                    <path
                        d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
                </svg>
            </button>
        </div>   
    </div>
    <div class="app-content">
        <div class="app-content-left-section">
            <div class="patient-listing-section">
                <div class="card">
                    <div class="card-header">
                        <h4>Patients</h4>
                        <span class="search-icon"><img src="../assets/images/search-icon.svg" /></span>
                    </div>
                    <div class="card-body">
                        <div class="patient-list">
                            <div class="patient-item">
                                <div class="profile-block">
                                    <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                                    <div class="profile-info">
                                        <strong class="profile-name">Dr. Jose Simmons</strong>
                                        <span class="profile-designation">General Practitioner</span>
                                    </div>
                                </div>
                                <span class="more-menu"><img src="../assets/images/more-hori-menu.svg" /></span>
                            </div>
                            <div class="patient-item">
                                <div class="profile-block">
                                    <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                                    <div class="profile-info">
                                        <strong class="profile-name">Dr. Jose Simmons</strong>
                                        <span class="profile-designation">General Practitioner</span>
                                    </div>
                                </div>
                                <span class="more-menu"><img src="../assets/images/more-hori-menu.svg" /></span>
                            </div>
                            <div class="patient-item">
                                <div class="profile-block">
                                    <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                                    <div class="profile-info">
                                        <strong class="profile-name">Dr. Jose Simmons</strong>
                                        <span class="profile-designation">General Practitioner</span>
                                    </div>
                                </div>
                                <span class="more-menu"><img src="../assets/images/more-hori-menu.svg" /></span>
                            </div>
                            <div class="patient-item">
                                <div class="profile-block">
                                    <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                                    <div class="profile-info">
                                        <strong class="profile-name">Dr. Jose Simmons</strong>
                                        <span class="profile-designation">General Practitioner</span>
                                    </div>
                                </div>
                                <span class="more-menu"><img src="../assets/images/more-hori-menu.svg" /></span>
                            </div>
                            <div class="patient-item">
                                <div class="profile-block">
                                    <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                                    <div class="profile-info">
                                        <strong class="profile-name">Dr. Jose Simmons</strong>
                                        <span class="profile-designation">General Practitioner</span>
                                    </div>
                                </div>
                                <span class="more-menu"><img src="../assets/images/more-hori-menu.svg" /></span>
                            </div>
                            <div class="patient-item">
                                <div class="profile-block">
                                    <span class="profile-pic"><img src="../assets/images/default-dr-profile.png" /></span>
                                    <div class="profile-info">
                                        <strong class="profile-name">Dr. Jose Simmons</strong>
                                        <span class="profile-designation">General Practitioner</span>
                                    </div>
                                </div>
                                <span class="more-menu"><img src="../assets/images/more-hori-menu.svg" /></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="app-content-section">
            <div class="patient-diagnosis-section">
                <div class="card mb20">
                    <div class="card-header">
                        <h4>Diagnosis History</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 mb20">
                                <div class="card blood-pressure-section">
                                    <img src="../assets/images/graph-img.png" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card respiratory-section">
                                    <img src="../assets/images/respiratory-rate.png" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card tempature-section">
                                    <img src="../assets/images/tempature.png" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card heart-section">
                                    <img src="../assets/images/heart-rate.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Diagnostic List</h4>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
        <div class="app-content-right-section">
            <div class="patient-profile-section">
                <div class="card mb20">
                    <app-patient-profile></app-patient-profile>
                    <div class="card-body">
                        <div class="patient-dtls">
                            <div class="patient-profile-img">
                                <img src="../assets/images/default-profile.png" width="200px"/>
                            </div>
                            <h4>Jessica Taylor</h4>
                        </div>
                        <div class="patient-dtls-listing">
                            <div class="patient-dtls-item">
                                <div class="patient-dtls-icon">
                                    <img src="../assets/images/BirthIcon.svg" >
                                </div>
                                <div class="patient-dtls-info">
                                    <span class="label">Date Of Birth</span>
                                    <strong class="label-param">August 23, 1996</strong>
                                </div>
                            </div>
                            <div class="patient-dtls-item">
                                <div class="patient-dtls-icon">
                                    <img src="../assets/images/FemaleIcon.svg" >
                                </div>
                                <div class="patient-dtls-info">
                                    <span class="label">Gender</span>
                                    <strong class="label-param">Female</strong>
                                </div>
                            </div>
                            <div class="patient-dtls-item">
                                <div class="patient-dtls-icon">
                                    <img src="../assets/images/PhoneIcon.svg" >
                                </div>
                                <div class="patient-dtls-info">
                                    <span class="label">Contact Info.</span>
                                    <strong class="label-param">(415) 555-1234</strong>
                                </div>
                            </div>
                            <div class="patient-dtls-item">
                                <div class="patient-dtls-icon">
                                    <img src="../assets/images/PhoneIcon.svg" >
                                </div>
                                <div class="patient-dtls-info">
                                    <span class="label">Emergency Contacts</span>
                                    <strong class="label-param">(415) 555-1234</strong>
                                </div>
                            </div>
                            <div class="patient-dtls-item">
                                <div class="patient-dtls-icon">
                                    <img src="../assets/images/InsuranceIcon.svg" >
                                </div>
                                <div class="patient-dtls-info">
                                    <span class="label">Insurance Provider</span>
                                    <strong class="label-param">Sunrise Health Assurance</strong>
                                </div>
                            </div>
                        </div>
                        <div class="patient-dtls-action">
                            <button class="button">Show All Information</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Lab Results</h4>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-patient-profile></app-patient-profile>
<router-outlet />